body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container1{
  text-align:center;
  padding:50px;
  margin-top: 5%;
  margin-left: 50%;
  width:600px;
  color:black;
  background-color: rgb(150, 217, 232) ;
  transform: translate(-50%);
}
